<footer>
    <h2>Te gustaria haceme un regalo?</h2>
    <p>Podes hacerme una transferencia</p>
    <span>Alias: milagros.penacino.mp</span>
</footer>

<style>
    footer {
        margin-top: 60px;
        padding-bottom: 60px;
    }

    h2 {
        font-size: 40px;
        margin: 10px 0;
        font-family: var(--letra-cursiva);
        font-weight: 500;
    }

    p {
        color: var(--color-secundario);
        font-size: 18px;
        margin: 10px 0;
    }

    span {
        color: var(--color-relleno);
        font-size: 22px;
    }
</style>