
<h1>Mis Quince</h1>


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" fill="currentColor" style="width: 130px; height: 80px;">
  <path d="M5,20 L15,35 L25,20 L35,40 L50,5 L65,40 L75,20 L85,35 L95,20 L90,45 L10,45 L5,20 Z M15,15 C12,15 10,17 10,20 C10,23 12,25 15,25 C18,25 20,23 20,20 C20,17 18,15 15,15 Z M35,15 C32,15 30,17 30,20 C30,23 32,25 35,25 C38,25 40,23 40,20 C40,17 38,15 35,15 Z M50,0 C47,0 45,2 45,5 C45,8 47,10 50,10 C53,10 55,8 55,5 C55,2 53,0 50,0 Z M65,15 C62,15 60,17 60,20 C60,23 62,25 65,25 C68,25 70,23 70,20 C70,17 68,15 65,15 Z M85,15 C82,15 80,17 80,20 C80,23 82,25 85,25 C88,25 90,23 90,20 C90,17 88,15 85,15 Z"/>
</svg>

<h3>Milagros</h3>


<style>
h1 {
	font-family: var(--letra-cursiva);
	font-size: 100px;
	font-weight: 600;
	margin: 0;
}

h3 {
	font-family: var(--letra-cursiva);
	font-weight: 400;
	/* Puedes aumentar el tamaño porque estas letras suelen ser chicas */
	font-size: 80px;
}
	/* Para cambiar el color de todos los iconos SVG */
svg {
  color: var(--color-primario); /* Cambiar a cualquier color, por ejemplo, rojo */
  height: 100px;
  width: 100px;
}

/* O para un icono específico */
.mi-icono-corazon {
  color: blue;
}

</style>